{define cell-email}
    <a href="mailto:{$row->email}">{$row->email}</a>
{/define}

{define cell-phone}
    <a href="tel:{$row->phone}">{$row->phone}</a>
{/define}

{define cell-address}
    {$row->street}, {$row->zip} {$row->city}
{/define}