{define cell-email}
    <a href="mailto:{$row->email}">{$row->email}</a>
{/define}

{define cell-phone}
    <a href="tel:{$row->phone}">{$row->phone}</a>
{/define}

{define row-actions}
    <a href="{link edit! $primary}" class="ajax">Upravit</a>
    <a href="{link delete! $primary}" class="ajax" data-ajax-confirm="Opravdu smazat?">Odebrat</a>
{/define}