{block content}
    <h1 n:block=title>Kontakt</h1>

    <img src="{$basePath}/{$text->img_path}" alt="Kontakt" width="500" />

    <div>
        {$text->text|noescape}
    </div>

    {control contactForm}
{/block}