{block content}
    <h1 n:block=title>Kontakt</h1>

    {if $text->img_path!= NULL} <img src="{$basePath}/{$text->img_path}" alt="Kontakt" width="500" /> {/if}

    <div>
        {$text->text|noescape}
    </div>
    {snippet contactAjaxForm}
        {control contactForm}
    {/snippet}

{/block}