
{block content}
	<h1 n:block=title>Fakturáček - Homepage BUSINESS</h1>
	<div>
        <a href="{link :Business:Homepage:revenues}">Příjmy</a>
        <a href="{link :Business:Homepage:expenses}">Výdaje</a>
    </div>
{/block}

