{block content}
	<h1 n:block=title>Výdaje</h1>
	<div>
        <a href="{link :Business:Homepage:categoryExpenses}">Správa kategorií výdajů</a>
    </div>
	{control addExpensesForm}
    {control datagrid2}
	{control deleteExpensesForm}
{/block}

