{define row-actions}
    <a href="{plink :Business:Expenses:document $primary}">Zobrazit</a>
    <a href="{link edit! $primary}" class="ajax">Upravit</a>
    <a href="{link deleteExpense! $primary}" class="ajax">Vymazat</a>
{/define}

{define cell-price}
    {$row->price} Kč
{/define}

{define cell-category_name}
    {$row->category_name}<br>
{/define}