<!-- Author: Dalibor Kyjovský -->
{define row-actions}
    <a href="{plink :Business:Expenses:document $primary}"  class=" btn btn-sm btn-primary mt-1">Zobrazit</a>
    <a href="{link edit! $primary}" class="ajax btn btn-sm btn-primary mt-1">Upravit</a>
    <a href="{link deleteExpense! $primary}" class="ajax btn btn-sm btn-danger mt-1">Vymazat</a>
{/define}

{define cell-price}
    {$row->price} Kč
{/define}

{define cell-category_name}
    {$row->category_name}<br>
{/define}

{define cell-datetime}
    {$row->datetime|date:'%d. %m. %Y'}<br>
{/define}