{block content}
	<h1 n:block=title>Fakturáček - Homepage BUSINESS</h1>
	<div>
        <a href="{link :Business:Category:default}">Správa kategorií výdajů</a>
    </div>
	{control addExpensesForm}
    {control datagrid}
{/block}