<!-- Author: Dalibor Kyjovský -->
{block content}
    <div class="row">
        <h1 n:block=title>Výdaje</h1>
        <div class="col-12">
            <a href="{link :Business:Category:default}" class=" btn btn-primary btn-sm">Správa kategorií výdajů</a>
        </div>
	    <div class="col-lg-6">
            {control addExpensesForm}
        </div>
    </div>
	<div class="row">
        <div class="col-lg-12 overflow-auto">
            {control datagrid}
        </div>
    </div>
{/block}