{block content}
	<h1 n:block=title>Výdaje</h1>
	<div>
        <a href="{link :Business:Category:default}" class=" btn btn-sm btn-primary mt-1">Správa kategorií výdajů</a>
    </div>
	{control addExpensesForm}
    {control datagrid}
{/block}