<!-- Author: Dalibor Kyjovský -->
{block content}
    <h1 n:block=title>Náhled dokladu</h1>
    <a href="{link :Business:Expenses:default}" class="btn btn-outline-secondary mb-3">&larr; Zpět na přehled výdajů</a>
    <div class="mt-3">
        <img src="{$basePath}/{$img_path}" alt="Doklad" width="100%"/>
    </div>
{/block}