{block content}
    <h1 n:block=title>Náhled dokladu</h1>
    <a href="{link :Business:Expenses:default}" class=" btn btn-sm btn-primary mt-1">Zpět na přehled výdajů</a>
    <div>
        <img src="{$basePath}/{$document->path}" alt="Doklad" width="500"/>
    </div>
    
{/block}