{block content}
    <div>
        {control textsForm}
    </div>
    <img src="{$basePath}/{$aboutus_img}" alt="O nás" width="200"/>
    <img src="{$basePath}/{$contact_img}" alt="Kontakty" width="200"/>
{/block}