{block content}
    <div>
        {control textsForm}
    </div>
    {if $aboutus_img != NULL} <img src="{$basePath}/{$aboutus_img}" alt="O nás" width="200"/> {/if}
    {if $contact_img != NULL} <img src="{$basePath}/{$contact_img}" alt="Kontakty" width="200"/> {/if}
{/block}