<!-- Author: Martin Kovalski -->
{define cell-created}
    {$row->created|date:'%d.%m.%Y %H:%M'}
{/define}

{define cell-status}
    {if $row->status == 'unpaid'}
        <span{if $row->after_due_date == 1} style="color: red !important;"{/if}>Nezaplacená</span>
    {elseif $row->status == 'paid'}
        Zaplacená
    {elseif $row->status == 'canceled'}
        Stornovaná
    {/if}
{/define}

{define cell-suma}
    {$row->suma|number:2, ',', ' '} Kč
{/define}

{define cell-due_date}
    {$row->due_date|date:'%d.%m.%Y %H:%M'}
{/define}

{define row-actions}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
            Akce
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton">
            <li><a href="{plink :Business:Invoicing:invoice $primary}" class="dropdown-item">Detail</a></li>
            <li><a href="{link downloadInvoice! $primary}" class="dropdown-item">Stáhnout fakturu</a></li>
            <li><a href="{plink :Business:Invoicing:newInvoice $primary}" class="dropdown-item">Opakovat fakturu</a></li>
            <li><a n:if="$row->status == 'unpaid'" href="{link changeStatus! $primary, "paid"}" class="ajax dropdown-item">✅ Zaplaceno</a></li>
            <li><a n:if="$row->status == 'unpaid'" href="{link changeStatus! $primary, "canceled"}" class="ajax dropdown-item" data-ajax-confirm="Opravdu stornovat?">❌ Stornovat</a></li>
            <li><a n:if="$row->after_due_date == 1" href="{link sendReminder! $primary}" class="ajax dropdown-item">⚠ Poslat upozornění</a></li>
        </ul>
    </div>
{/define}