{define cell-created}
    {$row->created|date:'%d.%m.%Y %H:%M'}
{/define}

{define cell-status}
    {if $row->status == 'unpaid'}
        Nezaplacená
    {elseif $row->status == 'paid'}
        Zaplacená
    {elseif $row->status == 'canceled'}
        Stornovaná
    {/if}
{/define}

{define cell-suma}
    {$row->suma|number:2, ',', ' '} Kč
{/define}

{define cell-due_date}
    {$row->due_date|date:'%d.%m.%Y %H:%M'}
{/define}

{define row-actions}
    <a href="{plink :Business:Invoicing:invoice $primary}">Detail</a>
    <a href="#" class="ajax">Opakovat fakturu</a>
    <a n:if="$row->status == 'unpaid'" href="{link changeStatus! $primary, "paid"}" class="ajax">Zaplaceno</a>
    <a n:if="$row->status == 'unpaid'" href="{link changeStatus! $primary, "canceled"}" class="ajax" data-ajax-confirm="Opravdu stornovat?">Stornovat</a>
    <a href="{link downloadInvoice! $primary}" class="">Stáhnout fakturu</a>
{/define}