<!-- Author: Radek Jůzl -->
{define cell-price}
    {$row->price|number:2, ',', ' '} Kč
{/define}

{define cell-datetime}
    {$row->datetime|date:'%d.%m.%Y %H:%M'}
{/define}

{define row-actions}
    <button type="button" class="btn btn-primary btn-sm mt-1" data-bs-toggle="modal" data-bs-target="#modal{$row->id}">Detail</button>
{/define}