{block content}

    {snippet clientConnectionForm}
        {control clientConnectionForm}
    {/snippet}
    <div><a class = "ajax" n:href="acceptClients!">Příjmout všechny žádosti</a></div>
    {control datagrid}

{/block}