<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>

        <title>
            {ifset title}{include title|stripHtml} | {/ifset}Fakturáček
        </title>

        <!-- CSS styles -->

        <!--// CSS styles -->
    </head>

    <body>
        <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
        <script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
        <script type="text/javascript" src="{$basePath}/js/nette.ajax.js"></script>
        <script type="text/javascript">
            $(function () {
                $.nette.init();
            });
        </script>

        {snippet flashes}
            <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        {/snippet}

        <div>
            <a href="{link :Public:Homepage:default}">Homepage</a>
            <a href="{link :Public:Registration:default}">Registrace</a>
            <a href="{link :Public:AboutUs:default}">O nás</a>
            <a href="{link :Public:Contact:default}">Kontakt</a>
        </div>

        {include content}
    </body>
</html>