<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>

        <title>
            {ifset title}{include title|stripHtml} | {/ifset}Fakturáček
        </title>

        <!-- CSS styles -->

        <!--// CSS styles -->
    </head>

    <body>
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        <div>
            <a href="{link :Public:Homepage:default}">Homepage</a>
            <a href="{link :Public:Registration:default}">Registrace</a>
            <a href="{link :Public:AboutUs:default}">O nás</a>
        </div>

        {include content}

        <!-- JS scripts -->
        <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
        <!--// JS scripts -->
    </body>
</html>