<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>

        <title>
            {ifset title}{include title|stripHtml} | {/ifset}Fakturáček
        </title>

        <!-- CSS styles -->

        <!--// CSS styles -->
    </head>

    <body>
        <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
        <script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
        <script type="text/javascript" src="{$basePath}/js/nette.ajax.js"></script>
        <script type="text/javascript">
            $(function () {
                $.nette.init();
            });
        </script>

        {snippet flashes}
            <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        {/snippet}

        <a href="{link :Business:Homepage:default}">Homepage</a>
        <a href="{link :Business:Profile:default}">Profil</a>
        <a href="{link :Business:Clients:default}">Klienti</a>
        <a href="{link :Business:SettingInvoices:default}">Nastavení faktury</a>
        <a n:href="LogOut!">Odhlásit se</a>
        <div>
            {if $avatar}
                <img src="{$basePath}/{$avatar}" alt="Avatar" width="50"/>
            {else}
                <img src="{$basePath}/img/avatar_default.svg" alt="Avatar" width="50"/>
            {/if}
        </div>


        {include content}

        <!-- JS scripts -->
        <script type="text/javascript" src="{$basePath}/js/nextras.datagrid.js"></script>
        <!--// JS scripts -->
    </body>
</html>