<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>

        <title>
            {ifset title}{include title|stripHtml} | {/ifset}Fakturáček
        </title>

        <!-- CSS styles -->
            <link rel="stylesheet" href="{$basePath}/css/styles.css"/>
        <!--// CSS styles -->
    </head>

    <body>
        <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
        <script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
        <script type="text/javascript" src="{$basePath}/js/nette.ajax.js"></script>
        <script type="text/javascript">
            $(function () {
                $.nette.init();

                $.nette.ext('confirm', {
                    before: function (xhr, settings) {
                        if (!settings.nette)
                            return;

                        var question = settings.nette.el.data('ajax-confirm');
                        if (question)
                            return confirm(question);
                    }
                });
            });

            //https://gist.github.com/duskohu/7591174
            (function ($, undefined) {

                $.nette.ext('spinner', {
                    init: function (x) {
                        this.spinner = this.createSpinner();
                        this.spinner.appendTo('body');
                    },
                    start: function (jqXHR, settings) {
                        this.spinner.css({
                            left: '50%',
                            top: '50%'
                        });
                        this.spinner.show(this.speed);
                    },
                    complete: function () {
                        this.spinner.hide(this.speed);
                    }
                }, {
                    createSpinner: function () {
                        return $('<div>', {
                            id: 'ajax-spinner',
                            css: {
                                display: 'none'
                            }
                        });
                    },
                    spinner: null,
                    speed: undefined
                });

            })(jQuery);
        </script>

        {snippet flashes}
            <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        {/snippet}

        <a href="{link :Business:Homepage:default}">Homepage</a>
        <a href="{link :Business:Profile:default}">Profil</a>
        <a href="{link :Business:Clients:default}">Klienti</a>
        <a href="{link :Business:Expenses:default}">Výdaje</a>
        <a href="{link :Business:Statistics:default}">Statistiky</a>
        <a href="{link :Business:Invoicing:default}">Fakturace</a>
        <a href="{link :Business:SettingInvoices:default}">Nastavení faktury</a>
        <a href="{link :Business:Accountant:default}">Účetní</a>
        <a n:href="LogOut!">Odhlásit se</a>
        <div>
            {if $avatar}
                <img src="{$basePath}/{$avatar}" alt="Avatar" width="50"/>
            {else}
                <img src="{$basePath}/img/avatar_default.svg" alt="Avatar" width="50"/>
            {/if}
        </div>

        {include content}

        <!-- JS scripts -->
        <script type="text/javascript" src="{$basePath}/js/nextras.datagrid.js"></script>
        <!--// JS scripts -->
    </body>
</html>