<!-- Author: Dalibor Kyjovský -->
{define row-actions}
    <a href="{link edit! $primary}" class="ajax btn btn-sm btn-primary mt-1">Upravit</a>
    <a href="{link deleteCategory! $primary}" class="ajax btn btn-sm btn-danger mt-1">Vymazat</a>
{/define}
