{block content}
	<h1 n:block=title>Kategorie</h1>
    <a href="{link :Business:Expenses:default}" class=" btn btn-sm btn-primary mt-1">Zpět na vytvoření výdaje</a>
	{control addCategoryForm}
	{control datagrid}
{/block}