{block content}
	<h1 n:block=title>Fakturáček - Homepage ADMIN</h1>

	Počet adminů: {$adminCount}<br>
	Počet osvč: {$businessCount}<br>
	Počet účetních: {$accountantCount}<br>

	Počet faktur: {$invoicesCount}
{/block}