<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>

        <title>
            {ifset title}{include title|stripHtml} | {/ifset}Fakturáček
        </title>

        <!-- CSS styles -->

        <!--// CSS styles -->
    </head>

    <body>
        <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
        <script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
        <script type="text/javascript" src="{$basePath}/js/nette.ajax.js"></script>
        <script type="text/javascript">
            $(function () {
                $.nette.init();
            });

            $.nette.ext('confirm', {
                before: function (xhr, settings) {
                    if (!settings.nette)
                        return;

                    var question = settings.nette.el.data('ajax-confirm');
                    if (question)
                        return confirm(question);
                }
            });
        </script>

        {snippet flashes}
            <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        {/snippet}

        <a href="{link :Admin:Homepage:default}">Homepage</a>
        <a href="{link :Admin:Profile:default}">Profil</a>
        <a href="{link :Admin:Administrators:default}">Administrátoři</a>
        <a href="{link :Admin:Users:default}">Uživatelé</a>
        <a href="{link :Admin:Texts:default}">Texty</a>
        <a n:href="LogOut!">Odhlásit se</a>
        <div>
            {if $avatar}
                <img src="{$basePath}/{$avatar}" alt="Avatar" width="50"/>
            {else}
                <img src="{$basePath}/img/avatar_default.svg" alt="Avatar" width="50"/>
            {/if}
        </div>

        {include content}

        <!-- JS scripts -->
        <script src="{$basePath}/ckeditor5/build/ckeditor.js"></script>
        <script>
            function textAreaAdjust(element) {
                element.style.height = "1px";
                element.style.height = (25+element.scrollHeight)+"px";
            }
            let elements = document.getElementsByTagName('textarea');
            for (let i = 0; i < elements.length; i++) {
                textAreaAdjust(elements[i]);
                elements[i].onkeyup = function () { textAreaAdjust(elements[i])}
                elements[i].style.overflow = "hidden";
            }
            let w_elements = document.getElementsByClassName('wysiwyg');
            for (let i = 0; i < w_elements.length; i++) {
                ClassicEditor
                    .create( w_elements[i], {
                        highlight: {
                            options: [
                                {
                                    model: 'marker',
                                    color: '#f0e0b7',
                                    type: 'marker'
                                }
                            ]
                        },

                        toolbar: {
                            items: [
                                'undo',
                                'redo',
                                '|',
                                'heading',
                                '|',
                                'bold',
                                'italic',
                                'link',
                                '|',
                                'bulletedList',
                                'numberedList',
                                '|',
                                'highlight'
                            ]
                        },
                        language: 'cs',
                        licenseKey: '',

                    } )
                    .then( editor => {
                        window.editor = editor;
                    } )
                    .catch( error => {
                        console.error( error );
                    } );
            }
        </script>

        <script type="text/javascript" src="{$basePath}/js/nextras.datagrid.js"></script>

        <!--// JS scripts -->
    </body>
</html>