<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>

        <title>
            {ifset title}{include title|stripHtml} | {/ifset}Fakturáček
        </title>

        <!-- CSS styles -->

        <!--// CSS styles -->
    </head>

    <body>
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        <a href="{link :Admin:Homepage:default}">Homepage</a>
        <a href="{link :Admin:Profile:default}">Profil</a>

        <a href="{link :Admin:Administrators:default}">Administrátoři</a>
        <a n:href="LogOut!">Odhlásit se</a>
        <div>
            {if $avatar}
                <img src="{$basePath}/{$avatar}" alt="Avatar" width="50"/>
            {else}
                <img src="{$basePath}/img/avatar_default.svg" alt="Avatar" width="50"/>
            {/if}
        </div>

        {include content}

        <!-- JS scripts -->
        <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
        <!--// JS scripts -->
    </body>
</html>