<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{$subject}</title>
</head>

<body>
<p>Byl Vám vytvořen administrátorský účet v aplikaci Fakturáček. Na následujícím odkaze si, prosím, nastavte nové heslo.</p>
<p><a href={link Public:Homepage:newPassword, token => $token}>Nastavit nové heslo</a></p>
</body>
</html>