<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{$subject}</title>
</head>

<body>
<p>Založil jste si účet v aplikaci Fakturáček. Pro ověření Vaší e-mailé adresy k tomuto účtu, prosím, následujte tento odkaz.</p>
<p><a href={link Public:Homepage:verifyAccount, token => $token}>Ověřit e-mailovou adresu</a></p>
</body>
</html>