<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{$subject}</title>
</head>

<body>
    <p>Dobrý den,</p>
    <p>Váš účet byl zablokován, pro další informace nás kontaktujte přes  <a href="{link Public:Contact:default}">kontaktní formulář</a> umístěný na našich stránkách.</p>
    <br>
    <p>Váš Fakturáček</p>
</body>
</html>