<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{$subject}</title>
</head>

<body>
    <p>Dobrý den,</p>
    <p>tato {$subject} byla z nějakého důvodu zrušena.</p>
    <br>
    <p>Váš {$name}</p>
</body>
</html>