<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{$subject}</title>
</head>

<body>
    <h1>{$subject}</h1>
    <p>Jméno a příjmení: {$name}</p>
    <p>E-mail: {$email}</p>
    <p>Text zprávy: {$message}</p>
</body>
</html>