<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{$subject}</title>
</head>

<body>
    <p>Dobrý den,</p>
    <p>někdo (doufáme, že vy) požádal o změnu přihlašovacího hesla v aplikaci Fakturáček.
        Pokud si opravdu přejete změnit heslo, klikněte na odkaz níže a následujte instrukce.</p>
    <p><a href={link Public:Homepage:newPassword, token => $token}>Nastavit nové heslo</a></p>
    <br>
    <p>Váš Fakturáček</p>
</body>
</html>