<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{$subject}</title>
</head>

<body>
<p>Vážený kliente, vaše fakture je evidována jako po splatnosti, prosíme o její uhrazení, pokud jste tak ještě neučinil.
pěkný den, s pozdravem {$name}
</body>
</html>