<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{$subject}</title>
</head>

<body>
<p>Dobrý den kliente,</p>
<p>posílám Vám v příloze fakturu. děkuji za zaplacení.</p>
<p>Váš {$name}</p>
</body>
</html>