<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{$subject}</title>
</head>

<body>
    <p>Dobrý den,</p>
    <p>posílám Vám v příloze fakturu ({$subject}). Děkuji za její zaplacení.</p>
    <br>
    <p>Váš {$name}</p>
</body>
</html>