<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{$subject}</title>
</head>

<body>
    <p>Dobrý den,</p>
    <p>děkuji za zaplacení faktury ({$subject}) a těším se na další spolupráci.</p>
    <br>
    <p>Váš {$name}</p>
</body>
</html>