<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{$subject}</title>
</head>

<body>
<p>Účetní {$name}, vás žáda o povolení vidět vaše údaje.</p>
<p><a href={link Business:Accountant:addConnection, token => $token}>Udělit souhlas.</a></p>
</body>
</html>