<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{$subject}</title>
</head>

<body>
    <p>Dobrý den,</p>
    <p>účetní {$name}, Vás žáda o povolení vidět vaše údaje a pracovat s Vašim účetnictvím. Klepnutím na následující odkaz povolte tuto žádost.</p>
    <p><a href={link Business:Accountant:addConnection, token => $token}>Udělit souhlas</a></p>
    <br>
    <p>Váš Fakturáček</p>
</body>
</html>