<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{$subject}</title>
</head>

<body>
<p>Klient {$name}, vás žáda o správu jeho účetnictví.</p>
<p><a href={link Accountant:Clients:addConnection, token => $token}>Potvrdit</a></p>
</body>
</html>