<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{$subject}</title>
</head>

<body>
    <p>Dobrý den,</p>
    <p>založil jste si účet v aplikaci Fakturáček. Pro ověření Vaší e-mailové adresy k tomuto účtu, prosím, následujte dále uvedený odkaz.</p>
    <p><a href={link Public:Homepage:verifyAccount, token => $token}>Ověřit e-mailovou adresu</a></p>
    <br>
    <p>Váš Fakturáček</p>
</body>
</html>