application:
	errorPresenter: Public:Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
    name: fakturacek
    expiration: 14 days
    autoStart: true

services:
    - App\Router\RouterFactory::createRouter

    - App\repository\AllRepository
    - App\repository\CategoryRepository
    - App\repository\ClientRepository
    - App\repository\ExpensesRepository
    - App\repository\InvoicingRepository
    - App\repository\SettingInvoicesRepository
    - App\repository\TextRepository
    - App\repository\UserRepository

    - App\forms\AdministratorsFormFactory
    - App\forms\CategoryFormFactory
    - App\forms\ClientsFormFactory
    - App\forms\ContactFormFactory
    - App\forms\ExpensesFormFactory
    - App\forms\FormFactory
    - App\forms\LogInFormFactory
    - App\forms\SettingInvoicesFormFactory
    - App\forms\TextsFormFactory

    - App\model\AdministratorsManager
    - App\model\AresManager
    - App\model\Authenticator
    - App\model\ClientsManager
    - App\model\DatagridExtended
    - App\model\DatagridManager
    - App\model\ImageUploader
    - App\model\InvoicingManager
    - App\model\ProfileManager
    - App\model\MailSender
    - App\model\SettingInvoicesManager
    - App\model\TextsManager
    - App\model\UserManager

extensions:
    nextras.orm: Nextras\Dbal\Bridges\NetteDI\DbalExtension

forms:
    messages:
        EMAIL: 'Zadejte platnou e-mailovou adresu'
        REQUIRED: 'Povinná položka'
