application:
	errorPresenter: Public:Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
    name: fakturacek
    expiration: 14 days
    autoStart: true

services:
    - App\Router\RouterFactory::createRouter

    - App\PublicModule\model\Authenticator
    - App\PublicModule\model\UserManager
    - App\PublicModule\model\MailSender
    - App\PublicModule\model\EditProfile
    - App\PublicModule\model\UploadImage
    - App\PublicModule\model\DatagridManager

    - App\PublicModule\forms\FormFactory
    - App\PublicModule\forms\LogInFormFactory
    - App\PublicModule\forms\ContactFormFactory

    - App\PublicModule\repository\AllRepository
    - App\PublicModule\repository\UserRepository
    - App\PublicModule\repository\TextRepository
    - App\PublicModule\repository\ClientRepository
    - App\PublicModule\repository\ExpensesRepository
    - App\PublicModule\repository\CategoryRepository
    - App\PublicModule\repository\SettingInvoicesRepository

    - App\AdminModule\forms\FormFactory
    - App\AdminModule\forms\AdministratorsFormFactory

    - App\AdminModule\model\AdministratorsManager
    - App\AdminModule\model\TextsManager

    - App\BusinessModule\forms\FormFactory
    - App\BusinessModule\forms\ClientsFormFactory
    - App\BusinessModule\forms\ExpensesFormFactory
    - App\BusinessModule\forms\CategoryFormFactory

    - App\BusinessModule\model\SettingInvoices

extensions:
    nextras.orm: Nextras\Dbal\Bridges\NetteDI\DbalExtension

forms:
    messages:
        EMAIL: 'Zadejte platnou e-mailovou adresu'
        REQUIRED: 'Povinná položka'
