application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
    name: fakturacek
    expiration: 14 days

services:
	- App\Router\RouterFactory::createRouter

extensions:
    nextras.orm: Nextras\Dbal\Bridges\NetteDI\DbalExtension
