<!-- Author: Martin Kovalski -->
{block content}
	<div class="row">
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
			<img src="{$basePath}/img/ico.svg" width="80px" class="d-block m-auto mb-4"/>
			<h1 n:block=title class="text-center">Přihlásit se</h1>
			{snippet logInForm}
				{control logInForm}
			{/snippet}
			<p class="text-end">
				<a href="{link :Public:Homepage:ForgottenPassword}">Zapomenuté heslo</a>
			</p>
		</div>
		<div class="col-lg-4"></div>
	</div>
{/block}