<!-- Author: Radek Jůzl -->
{block content}
    <div class="row">
        <img src="{$basePath}/img/ico.svg" width="80px" class="d-block m-auto mb-4"/>
        <h1 class="text-center" n:block=title>Ověření e-mailové adresy</h1>
    </div>
    <!-- nothing else will be here -->
{/block}