{block content}
    <a href="{link :Admin:Profile:default}" class="btn btn-outline-secondary mb-3">&larr; Zpět</a>
    <div class="row">
        <h1 n:block=title>Změna hesla</h1>
        <div class="col-lg-6">
            {control changePasswordForm}
        </div>
    </div>
{/block}